# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib


# Dependency directories (remove the comment below to include it)
venv/
.vs/
.idea/
.cache/
deep_heuristic/SciView/
deep_heuristic/training_data